<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <input type="text" class="form-control" [(ngModel)]="username">
        </div>
    </div>
    <div class="row pad-top">
        <div class="col-xs-12">
            <button class="btn btn-primary" [disabled]="!username.length" (click)="onResetUsername()">Reset Username</button>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h3>Output: {{username}}</h3>
        </div>
    </div>
</div>